.container {
  padding: 2%;
  border-radius: 5px;
  margin-left: 35%;
  margin-top: 10%;
  background-color: #f19cbb;
  color: black;
  width: 25%;
  box-shadow: 2px 2px 7px 1px gray;
}
body {
  background-color: #c9ffe5;
  color: white;
}
h1 {
  font-size: 30px;
}
label {
  font-size: 20px;
}
input {
  border: none;
  height: 30px;
  width: 300px;
  font-size: 15px;
}
button {
  font-size: 20px;
  border-radius: 5px;
  border: none;
}
@media screen and (max-width: 1000px) {
  .container {
    padding: 2%;
    margin-left: 2.5%;
    margin-top: 25%;
    width: 90%;
  }
  h1 {
    font-size: 70px;
  }
  label {
    font-size: 60px;
  }
  input {
    height: 70px;
    width: 700px;
    font-size: 35px;
  }
  button {
    font-size: 50px;
  }
  ol {
    font-size: 60px;
  }
}
